In [23]:
import pandas as pd
ship_df=pd.read_csv("/Users/ROG/Desktop/SMU/Term 2/Hachathon/material/vessel_movements-20240126T091536Z-001/vessel_movements/vessel_movements_PPT.csv")
ship_df.head(5)

KeyboardInterrupt:

In [24]:
ship_100k_df=pd.read_csv("/Users/ROG/Desktop/SMU/Term 2/Hachathon/trial100k.csv")
ship_100k_df.head(5)

,imo,mmsi,vessel_id,vessel_name,date_of_build,vessel_type,group,timestamp,date_only,lon,...,sfc_me,sfc_ae,sfc_ab,ael,abl,geometry,in_berth,in_maneuver_zone,in_anchorage,in_port_boundary
0,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:01:42.000Z,2023-09-17,103.826065,...,185.0,230.0,300.0,507.0,365.0,POINT (103.826065 1.219275),False,False,True,True
1,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:01:44.000Z,2023-09-17,103.826065,...,185.0,230.0,300.0,507.0,365.0,POINT (103.826065 1.219275),False,False,True,True
2,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:07:43.000Z,2023-09-17,103.825690,...,185.0,230.0,300.0,507.0,365.0,POINT (103.82569 1.2195166),False,False,True,True
3,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:07:45.000Z,2023-09-17,103.825690,...,185.0,230.0,300.0,507.0,365.0,POINT (103.82569 1.2195166),False,False,True,True
4,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:10:42.000Z,2023-09-17,103.825580,...,185.0,230.0,300.0,507.0,365.0,POINT (103.82558 1.2196367),False,False,True,True

In [25]:
#There are five condition of the ship location:
# berth, maneuver_zone, anchorage, port_boundary
# (False, False, False, True)
# (False, False, True, True)
# (False, True, False, True)
# (True, False, False, True)
# (True, True, False, True)
ship_100k_df.groupby(["in_berth","in_maneuver_zone","in_anchorage","in_port_boundary"]).groups.keys()

dict_keys([(False, False, False, True), (False, False, True, True), (False, True, False, True), (True, False, False, True), (True, True, False, True)])

In [30]:
ship_100k_df["in_berth"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 100000 entries, 0 to 99999
Series name: in_berth
Non-Null Count   Dtype
--------------   -----
100000 non-null  bool
dtypes: bool(1)
memory usage: 97.8 KB

In [39]:
# we put 
ship_100k_df['location'] = 0
# "berth = true" and "berth = true, maneuver_zone = true" belong to 1 (berth)
ship_100k_df.loc[ship_100k_df['in_berth'] == True, 'location'] = 1
# "berth = False, maneuver_zone = true" belong to 2 (maneuver_zone)
ship_100k_df.loc[(ship_100k_df['in_berth'] == False) & (ship_100k_df['in_maneuver_zone'] == True), 'location'] = 2
# "anchorage = true" belong to 3 (anchorage)
ship_100k_df.loc[ship_100k_df['in_anchorage'] == True, 'location'] = 3
# "berth = False" and "berth = False, maneuver_zone = False, port_boundary = True" belong to 4 (berth)
ship_100k_df.loc[(ship_100k_df['in_berth'] == False) & 
                 (ship_100k_df['in_maneuver_zone'] == False) & 
                 (ship_100k_df['in_anchorage'] == False) & 
                 (ship_100k_df['in_port_boundary'] == True), 'location'] = 4
ship_100k_df.head()

,imo,mmsi,vessel_id,vessel_name,date_of_build,vessel_type,group,timestamp,date_only,lon,...,sfc_ae,sfc_ab,ael,abl,geometry,in_berth,in_maneuver_zone,in_anchorage,in_port_boundary,location
0,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:01:42.000Z,2023-09-17,103.826065,...,230.0,300.0,507.0,365.0,POINT (103.826065 1.219275),False,False,True,True,3
1,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:01:44.000Z,2023-09-17,103.826065,...,230.0,300.0,507.0,365.0,POINT (103.826065 1.219275),False,False,True,True,3
2,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:07:43.000Z,2023-09-17,103.825690,...,230.0,300.0,507.0,365.0,POINT (103.82569 1.2195166),False,False,True,True,3
3,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:07:45.000Z,2023-09-17,103.825690,...,230.0,300.0,507.0,365.0,POINT (103.82569 1.2195166),False,False,True,True,3
4,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:10:42.000Z,2023-09-17,103.825580,...,230.0,300.0,507.0,365.0,POINT (103.82558 1.2196367),False,False,True,True,3

In [44]:
import numpy as np
def activity_mode(df):
    # Initialize 'activity' column with default value of 0
    df['activity'] = 0
    
    # Transit: If speed > 1 OR navigational status = 0, 3, 4, 8, 11, 12
    # and it's OUTSIDE the maneuvering zone (3) but inside the bigger port fence.
    transit_condition = ((df['speed'] > 1) | df['nav_stat'].isin([0, 3, 8, 4, 11, 12])) & (df['location'] != 3)
    df.loc[transit_condition,'activity'] = 1

    # Maneuvering: If speed > 1 or navigational status = 0, 3, 4, 8, 11, 12
    # and it's INSIDE the maneuvering zone.
    maneuvering_condition = ((df['speed'] > 1) | df['nav_stat'].isin([0, 3, 8, 4, 11, 12])) & (df['location'] == 3)
    df.loc[maneuvering_condition, 'activity'] = 2

    # Alongside/Hotel: The vessel must be berthed (within a berth polygon) and speed < 1.
    alongside_condition = (df['speed'] < 1) & (df['location'] == 1)
    df.loc[alongside_condition, 'activity'] = 3
    
    return df
activity_mode(ship_100k_df)
ship_100k_df.head()

,imo,mmsi,vessel_id,vessel_name,date_of_build,vessel_type,group,timestamp,date_only,lon,...,sfc_ab,ael,abl,geometry,in_berth,in_maneuver_zone,in_anchorage,in_port_boundary,location,activity
0,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:01:42.000Z,2023-09-17,103.826065,...,300.0,507.0,365.0,POINT (103.826065 1.219275),False,False,True,True,3,0
1,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:01:44.000Z,2023-09-17,103.826065,...,300.0,507.0,365.0,POINT (103.826065 1.219275),False,False,True,True,3,0
2,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:07:43.000Z,2023-09-17,103.825690,...,300.0,507.0,365.0,POINT (103.82569 1.2195166),False,False,True,True,3,0
3,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:07:45.000Z,2023-09-17,103.825690,...,300.0,507.0,365.0,POINT (103.82569 1.2195166),False,False,True,True,3,0
4,9223253,525119038,692017,PRIMA TANGGUH LVI,2002-04-01,Crude/Oil Products Tanker,Crude & Products Tanker,2023-09-17T00:10:42.000Z,2023-09-17,103.825580,...,300.0,507.0,365.0,POINT (103.82558 1.2196367),False,False,True,True,3,0

In [ ]:
#Step 2: Log events at each timestamp & Step 7 Get activity hours (A) for each operating mode